@import url('../assets/styles/global.css');

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--tertiary-color); if first home page is white bg */
  background-color: transparent; /* if first home page is with picture */
  padding: 10px 140px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

.horizontal-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.horizontal-list>li {
  list-style-type: none;
  transition: transform 0.5s ease-in-out;
}

.horizontal-list>li:hover {
  transform: rotate(-3.6deg);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px; 
}

.nav {
  display: flex;
  gap: 20px;
}

.header-nav-link {
  color: var(--color-text-primary);
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.header-nav-link.active::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--color-text-primary);
  position: absolute;
  bottom: -5px;
  left: 0%;
}

.icon-container {
  display: flex;
  gap: 15px;
}

.icon {
  height: 20px; /* Adjust based on your design */
  cursor: pointer;
}

.icon-button {
  background: transparent;
  border: transparent;
}

.icon-button:hover {
  opacity: 0.7;
}