@import url('../assets/styles/global.css');

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 140px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100% - 280px;
}

.horizontal-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.horizontal-list>li {
  list-style-type: none;
  transition: transform 0.5s ease-in-out;
}

.horizontal-list>li:hover {
  transform: rotate(-3.6deg);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px; 
}

.nav {
  display: flex;
  gap: 20px;
}

.header-nav-link {
  color: var(--color-text-primaryLight);
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.header-nav-link.selected::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--color-text-primary);
  position: absolute;
  bottom: -5px;
  left: 0%;
}

.mobile-only {
  display: none;
}

.icon-container {
  display: flex;
  gap: 15px;
}

.icon {
  height: 20px; /* Adjust based on your design */
  cursor: pointer;
  filter: invert(1);
}

.icon-button {
  background: transparent;
  border: transparent;
}

.icon-button:hover {
  opacity: 0.7;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 20px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger-menu span {
  width: 20px;
  height: 3px;
  background: var(--color-text-primaryLight);
  border-radius: 10px;
  transition: all 0.3s linear;
}

@media (max-width: 768px) {
  .header {
    padding: 10px 20px;
  }

  .icon-container {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .nav {
    position: fixed;
    top: 0;
    right: calc(-100% - 40px);
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.9);
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    transition: left 0.3s ease;
  }

  .nav.nav-open {
    left: 0;
    width: calc(100% + 1px);
  }

  .horizontal-list {
    padding: 0;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .horizontal-list > li {
    margin: 15px 0;
  }

  .mobile-only {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .icon-container {
    position: relative;
    z-index: 11;
  }

  .header-nav-link {
    font-size: 1.2rem;
    color: var(--color-text-primaryLight) !important;
  }

  .hamburger-menu.menu-open span:first-child {
    transform: rotate(45deg) translate(6.5px, 5.2px);
    background-color: #fff;
  }
  
  .hamburger-menu.menu-open span:nth-child(2) {
    opacity: 0;
    background-color: #fff;
  }
  
  .hamburger-menu.menu-open span:last-child {
    transform: rotate(-45deg) translate(6px, -6.5px);
    background-color: #fff;
  }
}