body.no-scroll {
    overflow: hidden;
}

.payment-container {
    margin: 20px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .payment-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 20%;
  }
  
  .payment-button:hover {
    background-color: #45a049;
  }
  