body.no-scroll {
  overflow: hidden;
}

.order-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 5px;
  margin-right: 10px;
}

.payment-container {
  margin: 20px;
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-container h2 {
  font-size: 2.5rem;
}

.payment-container h3 {
  font-size: 1.5rem;
}

.order-summary h3{
  text-align: center;
}

.order-summary ul {
  list-style-type: none;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  margin: 0;
}

.order-summary li {
  display: flex;
  flex: row;
  margin-bottom: 10px;
  vertical-align: center;
}

.order-item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.order-item-details p {
  margin: 5px;
}

.total-price h3{
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.total-price p {
  font-size: 1rem;
  text-align: center; 
  margin-bottom: 20px;
}

.payment-form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 40vw;
  justify-content: center;
  align-items: center;
  
}

.payment-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.payment-button:hover {
  background-color: #45a049;
}

.cancel-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.cancel-button:hover {
  background-color: #da190b;
}

@media (max-width: 768px) {
  .payment-container {
    margin: 10px;
    height: auto;
    width: 100%;
    overflow: auto;
    padding: 10px;
    align-items: center;
    display: flex;
  }

  .payment-container h2 {
    font-size: 2rem;
  }

  .payment-container h3 {
    font-size: 1.25rem;
  }

  .order-summary ul {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .order-item-image {
    width: 80px;
    height: 80px;
    margin: 5px;
    margin-right: 8px;
  }

  .order-summary li {
    flex-direction: column; 
    align-items: center;
    text-align: center;
  }

  .order-item-details {
    align-items: center; 
  }

  .total-price h3 {
    font-size: 1.5rem;
  }

  .total-price p {
    font-size: 0.9rem;
  }

  .payment-form {
    flex-direction: column; 
    width: 100%;
    align-items: center;
  }

  .payment-button,
  .cancel-button {
    font-size: 14px;
    width: 50vw;
    min-width: auto;
    border-radius: 4px;
  }
}