/* Ensure the body takes up the full screen */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; /* Ensure full width */
}

.product-page .header-nav-link {
    color: #000;
}

.product-page .icon {
    filter: invert(0);
}

.product-page .header {
    background-color: #f9f9f9;
}

/* Style the MenImage to cover the screen */
.menImage {
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-position: center center; /* Centers the image */
}

.product-container {
    display: flex;
    padding: 20px; /* Add padding to the container */
    gap: 20px; /* Add gap between sidebar and card container */
}

.sidebar {
    flex: 0 0 250px; /* Fixed width for the sidebar */
}

.card-container {
    display: flex; /* Use flexbox for side-by-side layout */
    gap: 15px; /* Space between the cards */
    padding: 20px; /* Optional padding for the container */
    flex-wrap: wrap; /* Ensure cards wrap to the next line if they don't fit */
    flex: 1; /* Allow card container to take up remaining space */
}

.card-container > * {
    flex: 1 1 250px; /* Set the cards to have a minimum width of 250px and flexible sizing */
    max-width: 300px; /* Optional: Limit the maximum width of each card */
}

/* Style the heading */
h1 {
    position: relative;
    color: black;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}