@import url("../assets/styles/global.css");

.login-page {
    font-family: Arial, sans-serif;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    color: var(--primary-color);
  }
  
  .login-container {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-top: 15px;
    height: 90%;
    max-height: 1000px;
    max-width: 1200px;
    width: 100%;
  }
  
  .login-form,
  .create-account {
    width: 46%;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .password-instructions {
    font-size: 12px;
    color: var(--primary-color);
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .checkbox-group input {
    margin-right: 5px;
  }
  
  .form-links {
    font-size: 12px;
    margin: 10px 0;
  }
  
  .form-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .login-button,
  .create-account-button {
    background-color: var(--button-color);
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .login-button:hover,
  .create-account-button:hover {
    background-color: var(--button-hover-color);
  }
  
  .create-account {
    text-align: left;
  }
  
  footer {
    margin-top: 20px;
    font-size: 12px;
    color: #666;
    text-align: center;
  }
  